body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 300px 2fr 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
        "nav header header"
        "nav projects sidebar"
        "nav projects sidebar"
}

.icon {
    height: 27px;
}


.nav {
    grid-area: nav;
    background-color: #1892D4;
    color: white;
}

.nav-header > img {
    height: 50px;
}

.nav-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px;
    margin-bottom: 20px;
    padding: 25px;
}

.nav-main, .nav-options {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 50px);
    padding: 0px 25px;
    margin-bottom: 60px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.header-top {
    display: flex;
    height: auto;
}


.header-top > input {
    height: 35px;
    width: 50%
}

.header-bottom {
    display: flex;
}

.avatar-top {
    height: 50px;
}

.avatar-bottom {
    height: 80px;
}

.projects {
    background-color: #E2E8F0;
    padding: 25px;
}

.project-gallery {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    border-style: solid;
    border-color: #F0B42A;
}

.sidebar {
    grid-area: sidebar;
    background-color: #E2E8F0;
}

.announcements, .trending {
    padding: 25px;
}

.announcement {
    background-color: white;
}

.trending-users {
    background-color: white;
}